@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f8f2f2;
}

button{
     background-color: #ef7f1a;
}

button:hover{
    background-color: #ce6f1c;
}

.markdown-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .highlight {
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
  }
  